<extend name="Public/base"/>

<block name="nav">
	<div class="am-cf am-padding ">
		<!-- 标题栏 -->
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> /
			<small>修改密码</small>
		</div>
	</div>
</block>
<block name="body">
	<!-- 标题栏 -->

	<div class="tab-wrap am-g">
		<!--<ul class="tab-nav nav">-->
			<!--&lt;!&ndash;<li><a href="{:U('updatenickname')}">修改昵称</a></li>&ndash;&gt;-->
			<!--<li class="current"><a href="{:U('updatepassword')}">修改密码</a></li>-->
		<!--</ul>-->
		<div class="tab-content am-u-sm-12">
			<!-- 修改密码表单 -->
			<form  action="" method="post" class="form-horizontal am-form-horizontal am-form">
				<!--<div class="am-form-group">-->
					<!--<label class="item-label">原密码：</label>-->

					<!--<div class="controls">-->
						<!--<input type="password" name="old" class="text " autocomplete="off"/>-->
					<!--</div>-->
				<!--</div>-->
				<div class="am-form-group">
					<label class="item-label">新密码：</label>

					<div class="controls">
						<input type="password" name="password" class="text " autocomplete="off"/>
					</div>
				</div>
				<div class="am-form-group">
					<label class="item-label">确认密码：</label>

					<div class="controls">
						<input type="password" name="repassword" class="text " autocomplete="off"/>
					</div>
				</div>
				<div class="am-form-group">
					<button type="submit" class="am-btn am-btn-primary submit-btn ajax-post" target-form="form-horizontal">确 认</button>
					<button class="am-btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
