<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="">
	<ul class="am-navbar-nav am-cf am-avg-sm-4">
		<li>
			<a href="{:U('Mall/index')}" class='<eq name="CONTROLLER_NAME" value="Mall" >current</eq>'>
				<span class="am-icon-home"></span>
				<span class="am-navbar-label">首页</span>
			</a>
		</li>
		<li>
			<a href="{:U('Suite/index')}" class='<eq name="CONTROLLER_NAME" value="Suite" >current</eq>'>
				<span class="am-icon-clock-o"></span>
				<span class="am-navbar-label">预约</span>
			</a>
		</li>
		<li>
			<a href="{:U('UserMallOrder/index')}" class='<eq name="CONTROLLER_NAME" value="UserMallOrder" >current</eq>'>
				<span class="am-icon-file-text"></span>
				<span class="am-navbar-label">订单</span>
			</a>
		</li>
		<li>
			<a href="{:U('Shopcart/index')}" class='<eq name="CONTROLLER_NAME" value="ShoppingCar" >current</eq><eq name="CONTROLLER_NAME" value="Shopcart" >current</eq>'>
				<span class="am-icon-shopping-cart"></span>
				<span class="am-navbar-label">购物车</span>
			</a>
		</li>
		<li>
			<a href="{:U('User/index')}" class='<eq name="CONTROLLER_NAME" value="User" >current</eq>'>
				<span class="am-icon-user-md"></span>
				<span class="am-navbar-label">我的</span>
			</a>
		</li>
	</ul>
</div>