<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$meta_title}|{:C('WEB_SITE_TITLE')}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<link rel="icon" type="image/png" href="__STATIC__/amaze/i/favicon.png">
	<link rel="stylesheet" href="__STATIC__/amaze/css/amazeui.flat.css">
	<link rel="stylesheet" href="__STATIC__/amaze/css/app.css">
	<script src="__STATIC__/amaze/js/jquery.min.js"></script>
	<script src="__STATIC__/amaze/js/amazeui.min.js"></script>
	<block name="style"></block>
</head>
<body>