<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
	<a href="javascript:history.back()" class="back"><img src="__STATIC__/amaze/i/app/app-arrow-back.png"></a>

	<h1 class="am-header-title">
		<a href="#">{$meta_title}</a>
	</h1>

	<notempty name="right_btn">
		<div class="am-header-right am-header-nav">
			<a href="{$right_btn.url}" class="">
				<i class="am-header-icon {$right_btn.class}" style="color: #cccccc;"></i>
			</a>
		</div>
	</notempty>
</header>
<div class="space"></div>