<extend name="Base/mobile_base"/>
<block name="body">
	<!--商城分类-->
	<div class="shop-con">
	<div class="am-g am-g-collapse cream-color">
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>81))}"><img src="__STATIC__/amaze/i/shcs/shengxian.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>81))}">生鲜</a></h4>

				<a href="{:U('article/index',array('pid'=>81))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:#ad5fd9;">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>181))}">粮油杂粮</a></h4>
				<a href="{:U('article/index',array('pid'=>181))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>181))}"><img src="__STATIC__/amaze/i/shcs/zl.jpg"></a>
			</div>
		</div>

		<div class="am-g am-g-collapse cream-color" style="background:#07b59e;">
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>248))}"><img src="__STATIC__/amaze/i/shcs/meijiu.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<!-- <h4><a href="/Wechat/article/index/pid/170.html">疗养院</a></h4> -->
				<h4><a href="{:U('article/index',array('pid'=>248))}">一键选酒</a></h4>

				<!-- <a href="/Wechat/article/index/pid/170.html" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a> -->
				<a href="{:U('article/index',array('pid'=>248))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>


		<div class="am-g am-g-collapse cream-color" style="background:#fdbf1e;">
			
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<!-- <h4><a href="/Wechat/article/index/pid/170.html">疗养院</a></h4> -->
				<h4><a href="{:U('Mall/xxsp')}">休闲食品</a></h4>

				<!-- <a href="/Wechat/article/index/pid/170.html" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a> -->
				<a href="{:U('Mall/xxsp')}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('Mall/xxsp')}"><img src="__STATIC__/amaze/i/shcs/xxsp.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>183))}"><img src="__STATIC__/amaze/i/shcs/zzp.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>183))}">纸制品</a></h4>

				<a href="{:U('article/index',array('pid'=>183))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
	
		<div class="am-g am-g-collapse green-color">
			
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">

				<h4><a href="{:U('article/index',array('pid'=>184))}">厨房达人</a></h4>
				<!-- <volist name="tree[2]['doc']" id="row" offset="1" length='2'>
					<p>{$row.title|mb_substr=0,5,'utf-8'}￥{$row.price}</p>
				</volist> -->
				<a href="{:U('article/index',array('pid'=>184))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>184))}"><img src="__STATIC__/amaze/i/shcs/cfdr.jpg"></a>
			</div>
		
		</div>

		<div class="am-g am-g-collapse cream-color">
			
			
		
			<div class="am-u-sm-7 shop-con-list">
			<!-- 	<a href="{:U('article/index',array('pid'=>217))}"><img src="__STATIC__/amaze/i/app/app-img-shop19.jpg"></a> -->
			<a href="{:U('Mall/jjyp')}"><img src="__STATIC__/amaze/i/app/app-img-shop19.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<!-- <h4><a href="{:U('article/index',array('pid'=>217))}">家居用品</a></h4> -->
				<h4><a href="{:U('Mall/jjyp')}">家居用品</a></h4>

				<!-- <a href="{:U('article/index',array('pid'=>217))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a> -->
				<a href="{:U('Mall/jjyp')}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
			
			
		</div>

		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
	
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>238))}">保健内衣</a></h4>

				<a href="{:U('article/index',array('pid'=>238))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>238))}"><img src="__STATIC__/amaze/i/app/fushi.jpg"></a>
			</div>
			
		</div>

			<div class="am-g am-g-collapse cream-color">
			
			
		
			<div class="am-u-sm-7 shop-con-list">
			<!-- 	<a href="{:U('article/index',array('pid'=>217))}"><img src="__STATIC__/amaze/i/app/app-img-shop19.jpg"></a> -->
			<a href="{:U('article/index',array('pid'=>249))}"><img src="__STATIC__/amaze/i/app/qcmr.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<!-- <h4><a href="{:U('article/index',array('pid'=>217))}">家居用品</a></h4> -->
				<h4><a href="{:U('article/index',array('pid'=>249))}">汽车美容</a></h4>

				<!-- <a href="{:U('article/index',array('pid'=>217))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a> -->
				<a href="{:U('article/index',array('pid'=>249))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
			
			
		</div>
	</div>
	<include file="Base/bottom_nav"/>
</block>