<extend name="Base/mobile_base"/>
<block name="body">
	<!--商城分类-->
	<div class="shop-con">
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>162))}">齿科诊疗</a></h4>

				<a href="{:U('article/index',array('pid'=>162))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>162))}"><img src="__STATIC__/amaze/i/ghjk/ckzl.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:purple;">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>193))}"><img src="__STATIC__/amaze/i/ghjk/cktz.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>193))}">齿科礼包</a></h4>

				<a href="{:U('article/index',array('pid'=>193))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" yellow-color>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>195))}">医疗器械</a></h4>

				<a href="{:U('article/index',array('pid'=>195))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>195))}"><img src="__STATIC__/amaze/i/ghjk/jtylqx.jpg"></a>
			</div>
		</div>

		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
		<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>196))}"><img src="__STATIC__/amaze/i/ghjk/jkcp.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>196))}">健康产品</a></h4>

				<a href="{:U('article/index',array('pid'=>196))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
			
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:orange">
		<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('Mall/jscg')}">健身场馆</a></h4>

				<a href="{:U('Mall/jscg')}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
		<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('Mall/jscg')}"><img src="__STATIC__/amaze/i/index-119.jpg"></a>
			</div>
			
			
		</div>
	
	</div>
	<include file="Base/bottom_nav"/>
</block>