<extend name="Base/mobile_base"/>
<block name="body">
	<!--商城分类-->
	<div class="shop-con">
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>197))}">进口乳品</a></h4>

				<a href="{:U('article/index',array('pid'=>197))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>197))}"><img src="__STATIC__/amaze/i/jkcp/jkrp.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:purple;">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>198))}"><img src="__STATIC__/amaze/i/jkcp/jkls.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>198))}">进口零食</a></h4>

				<a href="{:U('article/index',array('pid'=>198))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>

	<!-- 	<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>228))}">进口粮油</a></h4>

				<a href="{:U('article/index',array('pid'=>228))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>228))}"><img src="__STATIC__/amaze/i/jkcp/jkly.jpg"></a>
			</div>
		</div> -->
		<!-- <div class="am-g am-g-collapse cream-color">
		<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>229))}">进口日化用品</a></h4>

				<a href="{:U('article/index',array('pid'=>229))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>229))}"><img src="__STATIC__/amaze/i/jkcp/jkrhyp.jpg"></a>
			</div>
			
		</div> -->
		</div>
	<include file="Base/bottom_nav"/>
</block>