<extend name="Base/mobile_base"/>
<block name="body">
	<!--商城分类-->
	<div class="shop-con">
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>172))}">健康管理服务套餐</a></h4>

				<a href="{:U('article/index',array('pid'=>172))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>172))}"><img src="__STATIC__/amaze/i/lyzq/jkgltc.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:purple;">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>173))}"><img src="__STATIC__/amaze/i/lyzq/jjyl.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>173))}">居家养老</a></h4>

				<a href="{:U('article/index',array('pid'=>173))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		</div>
	<include file="Base/bottom_nav"/>
</block>