<extend name="Base/mobile_base"/>
<block name="body">
	<!--商城分类-->
	<div class="shop-con">
		<div class="am-g am-g-collapse cream-color">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm" style="height:47px;">
				<h4><a href="{:U('article/index',array('pid'=>222))}">湖州健身馆</a>&nbsp;&nbsp;></h4>
			<!-- 	<a href="{:U('Jipiao/index')}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a> -->
			</div>
		  <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
		</div>
		<div class="am-g am-g-collapse cream-color">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm" style="height:47px;">
				<h4><a href="{:U('Mall/gasc')}">上海健身馆</a>&nbsp;&nbsp;></h4>

				<!-- <a href="/Wechat/article/index/pid/170.html" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a> -->
				 
			</div>
			 <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
		</div>
	</div>
	<include file="Base/bottom_nav"/>
</block>