<extend name="Base/mobile_base"/>
<block name="body">
	<!--双十一商城分类-->
	<div class="shop-con">
		<div class="am-g am-g-collapse cream-color" style="background:#ad5fd9;">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>247))}">休闲养生专区</a></h4>

				<a href="{:U('article/index',array('pid'=>247))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>247))}"><img src="__STATIC__/amaze/i/11/xxys.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:#fdbf1e;">
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>244))}"><img src="__STATIC__/amaze/i/11/jksh.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>244))}">健康生活专区</a></h4>
				<a href="{:U('article/index',array('pid'=>244))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>243))}">健康个护专区</a></h4>

				<a href="{:U('article/index',array('pid'=>243))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>243))}"><img src="__STATIC__/amaze/i/11/jkgh.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color">
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>242))}"><img src="__STATIC__/amaze/i/11/rmss.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>242))}">热卖熟食专区</a></h4>
				<a href="{:U('article/index',array('pid'=>242))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse green-color">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>241))}">秋冬家纺暖心专区</a></h4>
				<a href="{:U('article/index',array('pid'=>241))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>241))}"><img src="__STATIC__/amaze/i/11/qdnx.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:#ad5fd9;">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>239))}"><img src="__STATIC__/amaze/i/11/cfzq.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>239))}">家庭厨房专区</a></h4>

				<a href="{:U('article/index',array('pid'=>239))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:#fdbf1e;">
		
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>246))}">健康体检专区</a></h4>
				<a href="{:U('article/index',array('pid'=>246))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
				<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>246))}"><img src="__STATIC__/amaze/i/11/jktj.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>240))}"><img src="__STATIC__/amaze/i/11/jksp.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>240))}">进口食品专区</a></h4>

				<a href="{:U('article/index',array('pid'=>240))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color">
		
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>245))}">保健内衣专区</a></h4>
				<a href="{:U('article/index',array('pid'=>245))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
				<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>245))}"><img src="__STATIC__/amaze/i/11/bjny.jpg"></a>
			</div>
		</div>

	</div>
	<include file="Base/bottom_nav"/>
</block>