<extend name="Base/mobile_base"/>
<block name="body">
	<!--商城分类-->
	<div class="shop-con">
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>174))}">绿色就医服务</a></h4>

				<a href="{:U('article/index',array('pid'=>174))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>174))}"><img src="__STATIC__/amaze/i/lyzq/lsjy.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:purple;">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>175))}"><img src="__STATIC__/amaze/i/lyzq/zyll.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>175))}">中医理疗服务</a></h4>

				<a href="{:U('article/index',array('pid'=>175))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" yellow-color>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>237))}">膏方</a></h4>

				<a href="{:U('article/index',array('pid'=>237))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>237))}"><img src="__STATIC__/amaze/i/lyzq/gaofang.jpg"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" yellow-color>
		<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>176))}"><img src="__STATIC__/amaze/i/lyzq/jrzx.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>176))}">假日尊享</a></h4>

				<a href="{:U('article/index',array('pid'=>176))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
			
		</div>
	
	</div>
	<include file="Base/bottom_nav"/>
</block>