<extend name="Base/mobile_base"/>
<block name="body">
	<!--商城分类-->
	<div class="shop-con">
		<div class="am-g am-g-collapse cream-color" style="background:#00b9ef">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>188))}">休闲零食</a></h4>

				<a href="{:U('article/index',array('pid'=>188))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>188))}"><img src="__STATIC__/amaze/i/shcs/xxsp1.jpg"></a>
			</div>
		</div>
		<!-- <div class="am-g am-g-collapse cream-color" style="background:purple;">
			
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>190))}"><img src="__STATIC__/amaze/i/shcs/rcrp.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>190))}">日常乳品</a></h4>

				<a href="{:U('article/index',array('pid'=>190))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
		</div>
		<div class="am-g am-g-collapse cream-color" style="background:yellow">
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>191))}">缤纷水饮</a></h4>

				<a href="{:U('article/index',array('pid'=>191))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-right.png"></a>
			</div>
			<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>191))}"><img src="__STATIC__/amaze/i/shcs/bfsy.jpg"></a>
			</div>
		</div>
 -->
		<div class="am-g am-g-collapse cream-color">
		<div class="am-u-sm-7 shop-con-list">
				<a href="{:U('article/index',array('pid'=>192))}"><img src="__STATIC__/amaze/i/shcs/mc.jpg"></a>
			</div>
			<div class="am-u-sm-5 am-text-center am-padding-top-sm">
				<h4><a href="{:U('article/index',array('pid'=>192))}">茗茶</a></h4>

				<a href="{:U('article/index',array('pid'=>192))}" class="shop-arrow"><img src="__STATIC__/amaze/i/app/app-arrow-left.png"></a>
			</div>
			
		</div>
	
	</div>
	<include file="Base/bottom_nav"/>
</block>