<div class="am-slider am-slider-default" data-am-flexslider id="index-slider">
	<ul class="am-slides">
	<!-- <li><a href="./index.php?s=/home/article/lists/pid/233.html"><img src="__STATIC__/amaze/i/baner888.jpg"/></a></li> -->
	<!-- <li><a href="{:U('shop/index')}"><img src="__STATIC__/amaze/i/baner888.jpg"/></a></li> -->
		<li><img src="__STATIC__/amaze/i/banner-01.jpg"/>
			<span><a href="{:U('SelfTest/index')}" class="btn_zj"></a></span></li>
		<li><img src="__STATIC__/amaze/i/banner-02.jpg"/>
		<span><a class="am-btn am-btn-secondary am-radius" href="{:U('home/article/detail/id/552')}" target="_parent">>><b>航天无锡疗养院介绍</b></a></span>
		</li>
		<li><img src="__STATIC__/amaze/i/banner-03.jpg"/></li>
	</ul>
</div>
