<extend name="Base/common"/>

<block name="body">
    <div class="am-g am-container am-margin-top-lg">
        <div class="breadcrumb-box">
            <ol class="am-breadcrumb am-breadcrumb-slash">
                <li><a href="{:U('Home/Index/index')}">首页</a></li>
                <li class="am-active">购物车</li>
            </ol>
        </div>
        <div class="shop-cart bg-f5 am-padding am-margin-bottom">
            <div class="am-u-sm-12 bg-fff am-padding-lg" style="padding-top: 150px;padding-bottom: 200px;">
                <div class="am-u-sm-5 am-text-right">
                    <img src="__STATIC__/amaze/i/app-checkOk.png">
                </div>
                <div class="am-u-sm-7 am-padding">
                    <h2 class="am-inline-block">支付成功!</h2>
                    <br>
                    <a target="_blank" class="am-btn am-btn-warning" rel="nofollow"  href="{:U('index/index')}">继续购物</a>
                </div>
            </div>
        </div>
    </div>
    <!--脚本开始-->
</block>
