<extend name="Base/common_no_top"/>

<block name="body">
	<div class="am-g am-container am-margin-top-lg">
		<div class="am-u-sm-12 am-padding am-margin">
			<div class="am-u-sm-4">
				<a href="{:U('Home/Index/index')}"><img src="__STATIC__/amaze/i/img_logo.png"></a>
			</div>
			<div class="am-u-sm-8 am-text-right am-text-lg">
				<div class="reg-step">
					<ul>
						<li class="am-text-secondary">1 手机验证</li>
						<li class="am-text-secondary">></li>
						<li class="am-text-secondary">2 填写详细信息</li>
						<li>></li>
						<li>3 注册成功</li>
					</ul>
				</div>
			</div>
			<div class="am-cf"></div>
			<div class="reg-box bg-fff am-margin-top-xl">
				<h1 class="am-padding-top am-text-center">完善资料 </h1>
				<hr class="am-margin-0">
				<div class="am-u-sm-6 am-u-sm-centered am-margin-xl am-padding-bottom-lg">
					<form action="{:U('Home/User/register',array('step'=>3))}" method="post">
						<fieldset>
							<div class="am-form-group">
								<input type="text" name="realname" placeholder="真实姓名" id="realname" class="am-form-field" required/>
							</div>
							<div class="am-form-group">
								<input type="password" name="password" placeholder="密码" id="password" class="am-form-field" required/>
							</div>
							<div class="am-form-group">
								<input type="password" name="repassword" placeholder="确认密码" id="repassword" class="am-form-field" required/>
							</div>

							<div class="am-form-group">
								性别 &nbsp;
								<label class="am-radio-inline am-padding-bottom-xs">
									<input type="radio" name="sex" value="1"> 男
								</label>
								<label class="am-radio-inline am-padding-bottom-xs">
									<input type="radio" name="sex" value="0"> 女
								</label>
							</div>

							<div class="am-form-group">
								<input type="text" name="id_num" placeholder="身份证号" id="id_num" class="am-form-field" required/>
							</div>

							<div class="am-form-group">
								<input type="text" name="company" placeholder="单位名称" id="company" class="am-form-field" /><span class="require">（选填）</span>
							</div>

							<div class="am-form-group am-cf">
								<div class="am-u-sm-6 am-padding-0">
									<input type="text" name="dept" placeholder="部门" id="dept" class="am-form-field am-inline-block"/>
								</div>
								<div class="am-u-sm-6 am-margin-0 am-padding-0">
									<input type="text" name="position" placeholder="职位" id="position" class="am-form-field am-inline-block"/><span class="require">（选填）</span>
								</div>
							</div>
							<input class="am-btn am-btn-secondary am-btn-lg am-btn-block" type="submit" value="确认"/>
						</fieldset>
					</form>

				</div>
			</div>
		</div>

		<!--<form id="" action="{:U('Home/User/register',array('step'=>3))}" method="post">-->
			<!--<input type="text" name="realname" placeholder="真实姓名" id="realname" required/>-->

			<!--<input type="text" name="password" placeholder="密码" id="password" required/>-->
			<!--<input type="text" name="repassword" placeholder="确认密码" id="repassword" required/>-->

			<!--<label><input type="radio" name="sex" value="1">男</label>-->
			<!--<label><input type="radio" name="sex" value="0">女</label>-->

			<!--<input type="text" name="id_num" placeholder="身份证号" id="id_num" required/>-->
			<!--<input type="text" name="company" placeholder="单位名称" id="company"/>-->
			<!--<input type="text" name="dept" placeholder="部门" id="dept"/>-->
			<!--<input type="text" name="position" placeholder="职位" id="position"/>-->
			<!--<input type="submit" class="am-btn am-btn-primary" value="确认"/>-->
		<!--</form>-->
	</div>

</block>

<block name="script">
	<script type="text/javascript">

	</script>

</block>
