<!--popup 会员信息-->
<div class="am-popup" id="pop_info">
	<div class="am-popup-inner">
		<div class="am-popup-hd">
			<h4 class="am-popup-title">会员信息</h4>
			<span data-am-modal-close class="am-close">&times;</span>
		</div>
		<div class="am-popup-bd">
			<!--begin-->
			<form class="am-form form-horizontal am-form-horizontal">
				<div class="am-form-group">
					<div class="am-u-sm-6">
						<label class="am-form-label">姓名</label>
						<label class="am-text-secondary val realname">刘云</label>
					</div>
					<div class="am-u-sm-6">
						<label class="am-form-label">性别</label>
						<label class="am-text-secondary val sex">女</label>
					</div>
				</div>
				<div class="am-form-group">
					<div class="am-u-sm-6">
						<label class="am-form-label">会员卡号</label>
						<label class="am-text-secondary val card_num">HT20150001</label>
					</div>
					<div class="am-u-sm-6">
						<label class="am-form-label">单位</label>
						<label class="am-text-secondary val company">无锡市文创有限公司</label>
					</div>
				</div>
				<div class="am-form-group">
					<div class="am-u-sm-6">
						<label class="am-form-label">部门</label>
						<label class="am-text-secondary val dept">财务部</label>
					</div>
					<div class="am-u-sm-6">
						<label class="am-form-label">职位</label>
						<label class="am-text-secondary val position">高级总监</label>
					</div>
				</div>
				<div class="am-form-group">
					<div class="am-u-sm-6">
						<label class="am-form-label">身份证</label>
						<label class="am-text-secondary val id_num">32016197608231245</label>
					</div>
					<div class="am-u-sm-6">
						<label class="am-form-label">手机</label>
						<label class="am-text-secondary val mobile">13402506988</label>
					</div>
				</div>
				<hr>
				<div class="am-form-group">
					<div class="am-u-sm-6">
						<label class="am-form-label">会员等级</label>
						<label class="am-text-warning val rank">金卡</label>
					</div>
					<div class="am-u-sm-6">
						<label class="am-form-label">金额</label>
						<label class="am-text-secondary val balance">8000</label>
					</div>
				</div>
				<hr>
				<div class="am-form-group">
					<div class="am-u-sm-6">
						<label class="am-form-label">会员类别</label>
						<label class="am-text-secondary val level">I</label>
					</div>
					<div class="am-u-sm-6">
						<label class="am-form-label">婚否</label>
						<label class="am-text-secondary val married">不确定</label>
					</div>
				</div>
				<hr>
				<div class="am-form-group">
					<h4 class="am-text-center">消费记录</h4>
					<table class="am-table am-table-striped am-table-hover am-table-compact am-text-nowrap data-table">
					</table>
				</div>
				<!--
				<div class="am-form-group">
					<div class="am-u-sm-12">
						<button type="button" class="am-btn am-btn-primary ">确定</button>
					</div>
				</div>
				-->
			</form>
			<!--over-->
		</div>
	</div>
</div>