<!--popup 导入-->
<div class="am-popup" id="pop_import_tuan">
	<form action="{:U('import_tuan')}" method="post" enctype="multipart/form-data">
		<div class="am-popup-inner">
			<div class="am-popup-hd">
				<h4 class="am-popup-title">外部团体批量导入</h4>
				<span data-am-modal-close class="am-close">&times;</span>
			</div>
			<div class="am-popup-bd">
				<!--begin-->
				<form class="am-form form-horizontal am-form-horizontal" method="post" action="" enctype="multipart/form-data">
					<div class="am-u-sm-12 am-margin-top-lg">
						<div class="am-u-sm-9">
							<div class="am-form-file am-text-left">
								<button type="button" class="am-btn am-btn-default am-btn-block am-margin-left-0">
									<span class="am-icon-cloud-upload"></span> 请选择要上传的文件
								</button>
								<input name="members" id="imports" type="file" >
							</div>
							<div id="file-list"></div>
						</div>
						<div class="am-u-sm-3">
							<div class="am-form-group am-text-left am-margin-left-0">
								<button type="submit" class="am-btn am-btn-primary am-btn-block am-margin-left-0">导入</button>
							</div>
						</div>
					</div>
					<div class="am-u-sm-12 ">
						<a href="./Data/import.xlsx" class="am-text-default am-padding-left">模板下载</a>
					</div>
				</form>
				<!--over-->
			</div>
		</div>
	</form>
</div>