<!--popup 补卡-->
<div class="am-popup" id="pop_recard">
	<div class="am-popup-inner">
		<div class="am-popup-hd">
			<h4 class="am-popup-title">补卡</h4>
			<span data-am-modal-close class="am-close">&times;</span>
		</div>
		<div class="am-popup-bd">
			<!--begin-->
			<form action="{:U('Member/recard')}" method="post" class="am-form am-form-horizontal form-horizontal">
				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">姓名</label>

					<div class="am-u-sm-9">
						<input type="text" readonly name="realname" placeholder="姓名">
						<input type="hidden" name="id">
					</div>
				</div>

				<div class="am-form-group">
					<label class="am-u-sm-3 am-form-label">刷卡</label>

					<div class="am-u-sm-9">
						<input type="text" name="card_num" autocomplete="off" placeholder="请先放入卡片,再双击此处">
						<input type="hidden" name="card_sn" value="">
					</div>
				</div>

				<div class="am-form-group">
					<div class="am-u-sm-9 am-u-sm-push-3">
						<button type="submit" class="am-btn am-btn-primary">绑定</button>
					</div>
				</div>
			</form>
			<!--over-->
		</div>
	</div>
</div>