<extend name="Base/mobile_base"/>
<block name="style">
    <style>
            .ct-modal .modal-text{
                max-height:250px;
                overflow-y:auto;
                text-align:left;
                font-size:0.5rem;
            }
    </style>
</block>
<block name="body">

<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <div class="am-list-news-bd order">
        <ul class="am-list">
            <empty name='list'>
                <p class="am-text-center am-padding-xl">
                    没有订单，<a href='{:U("Jipiao/index")}' class="am-text-warning">快去下单吧</a></p>
            <else/>
                <volist name="list" id="po">
                    
                    <php>
                        $ck = $po["passengername"];
                        $ck = explode("|", $ck);
                        $ck = count($ck);
                    </php>

                    <div class="singlehover" onmouseover="this.className='singlehover'" onmouseout="this.className='single'">
                                    <div class="am-padding-xs">
                                        订单号：<span class="am-link-muted num-text">{$po.orderid}</span><br/>下单时间：<span class="am-link-muted num-text">{$po.addtime|date='Y-m-d H:i:s',###}&nbsp;</span>
                                    </div>
                                    <!-- 列表详情区域开始 -->
                                    <div id="table4" style="border-top: 1px solid #dedede;">
                                        <div id="table3">
                                            <div id="table2">
                                                <div class="goodlist-wrap am-cf">
                                                    <!-- 左边商品区域开始 -->
                                                    <div class="three-area">
                                                        <div style="width: 100%;margin-top: .5em;text-indent: 1em;">
                                                            <div style="overflow:hidden">
                                                                <span style="float:left;">
                                                                    {$po.cabinrankdetail}<br />
                                                                    ({$po.departuredate})
                                                                </span>

                                                                <!-- 左边商品结束 -->
                                                                <div style="float:right;">
                                                                    <div class="total-area" style="text-align: right;">
                                                                        <p class="am-text-warning num-text" style="margin: 0;">￥{$po['totalorderprice'] + 20 * $ck} (含{$ck * 20}元保险费)</p>
                                                                    </div>
                                                                    <div class="deal-area">
                                                                        <p class="red am-text-xs am-margin-0 " style="text-align: right;">
                                                                            <php>
                                                                                switch($po['orderstatus']){
                                                                                case 'WAIT_PAY':
                                                                                echo '待支付';
                                                                                break;
                                                                                case 'PAYING':
                                                                                echo '支付中';
                                                                                break;
                                                                                case 'WAIT_AUDIT':
                                                                                echo '待审核';
                                                                                break;
                                                                                case 'AUDIT_FALSE':
                                                                                echo '审核失败';
                                                                                break;
                                                                                case 'CANCELED':
                                                                                echo '已取消';
                                                                                break;
                                                                                case 'WAIT_ISSUE':
                                                                                echo '待出票';
                                                                                break;
                                                                                case 'PAY_FALSE':
                                                                                echo '支付失败';
                                                                                break;
                                                                                case 'ISSUE_FALSE':
                                                                                echo '出票失败';
                                                                                break;
                                                                                case 'ISSUED':
                                                                                echo '已出票';
                                                                                break;
                                                                                case 'ISSUED_SUSPEND':
                                                                                echo '已出票（挂起）';
                                                                                break;
                                                                                case 'ENDORSE_WAIT_AUDIT':
                                                                                echo '改签待审核';
                                                                                break;
                                                                                case 'ENDORSE_AUDIT_SUCCESS':
                                                                                echo '改签审核成功';
                                                                                break;
                                                                                case 'ENDORSE_AUDIT_FALSE':
                                                                                echo '改签审核失败';
                                                                                break;
                                                                                case 'WAIT_REFUND':
                                                                                echo '待退票';
                                                                                break;
                                                                                case 'REFUND_FALSE':
                                                                                echo '退票失败';
                                                                                break;
                                                                                case 'CANCEL_REFUND':
                                                                                echo '取消退票';
                                                                                break;
                                                                                case 'REFUND_FINISH':
                                                                                echo '退票成功';
                                                                                break;
                                                                                case 'REFUND_WAIT_AUDIT':
                                                                                echo '退票待审核';
                                                                                break;
                                                                                case 'REFUND_AUDIT_FALSE':
                                                                                echo '退票审核失败';
                                                                                break;
                                                                                case 'CANCEL_ENDORSE':
                                                                                echo '取消改签';
                                                                                break;
                                                                                case 'WAIT_ENDORSE':
                                                                                echo '待改签';
                                                                                break;
                                                                                case 'ENDORSE_FALSE':
                                                                                echo '改签失败';
                                                                                break;
                                                                                case 'ENDORSE_FINISH':
                                                                                echo '改签成功';
                                                                                break;
                                                                                case 'ENDORSE_REVIEW_PASS':
                                                                                echo '改签后付款';
                                                                                }
                                                                            </php>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p>
                                                            <span style="display: inline-block;text-align: center;">
                                                            {$po['fromcitycn']}<br/>
                                                            <span style="font-size:10px;">({:setAirport($po['fromairport'])})</span> <br />{$po.departuretime}</span>
                                                            <img src="/Public/hangtian/img/tc_sc.png" style="line-height: 3em;width: 20%;">
                                                            <span style="display: inline-block;text-align: center;">{$po['tocitycn']}
                                                            <br/>
                                                            <span style="font-size:10px;">({:setAirport($po['toairport'])})</span><br />{$po.arrivaltime}</span>
                                                            </p>
                                                        </div>
                                                        <if condition="$po['iswf'] eq 1">
                                                            <div style="width: 100%;margin-top: .5em;text-indent: 1em;">
                                                                <div style="overflow:hidden">
                                                                    <span style="float:left;">
                                                                        返程机票:<br />
                                                                        {$po.cabinrankdetail1}<br />
                                                                        ({$po.departuredate1})
                                                                    </span>
                                                                </div>
                                                                <p>
                                                                <span style="display: inline-block;text-align: center;">
                                                                {$po['tocitycn']}<br/>
                                                                <span style="font-size:10px;">({:setAirport($po['toairport'])})</span> <br />{$po.departuretime1}</span>
                                                                <img src="/Public/hangtian/img/tc_sc.png" style="line-height: 3em;width: 20%;">
                                                                <span style="display: inline-block;text-align: center;">{$po['fromcitycn']}
                                                                <br/>
                                                                <span style="font-size:10px;">({:setAirport($po['fromairport'])})</span><br />{$po.arrivaltime1}</span>
                                                                </p>
                                                            </div>
                                                        </if>
                                                    </div>
                                                            <a style="border: 1px solid #ddd;margin-bottom: 5px;border-radius: 3rem;padding: .2rem 1.1rem!important;color: #333;display: inline-block;text-align: center;font-size: 1.4rem;" href="{:U('UserMallOrder/detail/?id='.$po['orderid'])}" class="am-text-xs">订单详情</a>
                                                        <!--</p>-->
                                                    <!--<div class="act-area">-->
                                                        <eq name="po['orderstatus']" value="WAIT_PAY">
                                                                <a style="border: 1px solid #ddd;border-radius: 3rem;padding: .2rem 1.1rem!important;color: #333;display:inline-block;text-align: center;font-size: 1.4rem;" href="{:U('Jipiao/clear?oid='.$po['orderid'])}">取消订单</a>
                                                                <a style="border: 1px solid #ddd;border-radius: 3rem;padding: .2rem 1.1rem!important;color: #333;display: inline-block;text-align: center;font-size: 1.4rem;" href="/Wechat/Pay/index/orderid/{$po.orderid}.html">前去支付</a>
                                                            <else/>
                                                            <if condition="$po['orderstatus'] eq 'ISSUED' or $po['orderstatus'] eq 'ISSUED_SUSPEND' or $po['orderstatus'] eq 'ENDORSE_FINISH'">
                                                                    <a style="border: 1px solid #ddd;border-radius: 3rem;padding: .2rem 1.1rem!important;color: #333;display: inline-block;text-align: center;font-size: 1.4rem;" href="javascript:;" class="applyrefund" data-id="{$po['orderid']}"  data-rule='{$po["rule"]}'>申请退票</a>
                                                            </if>
                                                        </eq>
                                                        <eq name="po['orderstatus']" value="ISSUED">
                                                            <a 
                                                                style="border: 1px solid #ddd;border-radius: 3rem;padding: .2rem 1.1rem!important;color: #333;display: inline-block;text-align: center;font-size: 1.4rem;" 
                                                                href="javascript:;" 
                                                                class="endorse" 
                                                                data-id="{$po['orderid']}" 
                                                                data-chufa="{$po['fromcitycn']}" 
                                                                data-end="{$po['tocitycn']}" 
                                                                data-iswf='{$po.iswf}'
                                                                data-rule='{$po["rule"]}'
                                                                >改签</a>
                                                        </eq>
                                                        <eq name="po['orderstatus']" value="ENDORSE_REVIEW_PASS">
                                                            <a style="border: 1px solid #ddd;border-radius: 3rem;padding: .2rem 1.1rem!important;color: #333;display: inline-block;text-align: center;font-size: 1.4rem;" href="/Wechat/Pay/index/orderid/{$po.orderid}.html">前去支付差价：{$po.payamount}元</a>
                                                        </eq>


                                                    <!--</div>-->
                                                    <!--<A href='index.php?s=/Home/cancel/index/id/".$po['orderid']."'>取消订单</a>-->
                                                </div>
                                                <!-- 列表详情区域结束 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                <div class="space"></div>
                </volist>
            </empty>
        </ul>
    </div>
</div>


               <include file="Base/bottom_nav"/>
                    <!--退票申请-->
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
                      <div class="am-modal-dialog">
                        <div class="am-modal-hd">确认是否申请退票?</div>
                        <div class="am-modal-bd">
                            <select id="applytype">
                                <!--<option value="refundAtSaleDate">当日作废</option>-->
                                <option value="refundOnPassengerDemand">按客票规定自愿退票</option>
                                <option value="refundBecauseOfAirPlainProblem">民航原因（取消/延误）</option>
                                <option value="changeTicket">客票换开</option>
                                <option value="fullRefundBecauseOfDisease">因病全退</option>
                                <option value="onlyRefundTaxPayment">只退税款</option>
                                <option value="other">其它原因</option>
                            </select>
                        </div>
                        <div class="am-modal-footer">
                          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                          <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="gq-confirm">
                      <div class="am-modal-dialog">
                        <div class="am-modal-hd">请选择改签日期</div>
                        <div class="am-modal-bd">
                          <input type="date" id='gqdate'/>
                        </div>
                        <div class="fcdate">
                            <div class="am-modal-hd">返程日期</div>
                            <div class="am-modal-bd">
                              <input type="date" id='wfdate'/>
                            </div>
                        </div>
                        <div class="am-modal-footer">
                          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                          <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                        </div>
                      </div>
                    </div>

                    <div class="am-modal am-modal-confirm" tabindex="-1" id="alert">
                      <div class="am-modal-dialog">
                        <div class="am-modal-hd">退票规则</div>
                        <div class="am-modal-bd am-text-left">
                        </div>
                        <div class="am-modal-footer">
                          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                          <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                        </div>
                      </div>
                    </div>

                    <div class="am-modal am-modal-confirm" tabindex="-1" id="ccalert">
                      <div class="am-modal-dialog">
                        <div class="am-modal-hd">退票规则</div>
                        <div class="am-modal-bd am-text-left">
                        </div>
                        <div class="am-modal-footer">
                          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                          <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                        </div>
                      </div>
                    </div>

                    <script type="text/javascript">
                        /**
                         * 改签
                         */
                        $('.endorse').on('click', function(event) {
                            var rule = $(this).data("rule");
                            var _this = this;
                            var chufa=$(this).data('chufa');
                            var end =$(this).data('end');
                            var oid =$(this).data('id');
                            var iswf=$(this).data('iswf');
                            if(iswf==1){
                                $('.fcdate').show();
                            }else{
                                $('.fcdate').hide();
                            }

                            if(rule != null){
                                $("#alert .am-modal-bd").html(rule.ticketChangeRemark);
                                $("#alert .am-modal-hd").html("改签规则");
                                $("#alert").modal({
                                    relatedTarget: _this,
                                    onConfirm: function(options){
                                        console.debug(1);
                                        $('#gq-confirm').modal({
                                            relatedTarget: _this,
                                            onConfirm: function(options) {
                                                var gqdate = $('#gqdate').val();
                                                var wfdate = $('#wfdate').val();
                                                if(gqdate == ""){
                                                    alert("改签时间不能为空。");
                                                    return false;
                                                }

                                                if(iswf == 1){
                                                    if(wfdate == ""){
                                                        alert("返程时间不能为空。");
                                                        return false;
                                                    }

                                                    var tempstart = new Date(gqdate);
                                                    var tempend = new Date(wfdate);

                                                    if(tempstart > tempend){
                                                        alert("返程时间不能早于出发时间。");
                                                        return false;
                                                    }
                                                }

                                                var url="/index.php?s=/Wechat/Jipiao/endorse.html&oid="+oid+"&startdate="+ gqdate +"&backdate="+ wfdate;
                                                location.href=url;
                                            },
                                             onCancel: function() {}
                                        })
                                    }
                                })
                            }
                        });
                        /**
                         * 退票申请
                         */
                        $('.applyrefund').on('click',function(){
                            var oid=$(this).data('id');
                            var rule = $(this).data("rule");
                            var _this = this;
                            if(rule != null){
                                $("#ccalert .am-modal-bd").html(rule.ticketBounceRemark);
                                $("#ccalert .am-modal-hd").html("退票规则");
                                $("#ccalert").modal({
                                    relatedTarget: _this,
                                    onConfirm: function(options) {
                                        console.debug(2);
                                        $('#my-confirm').modal({
                                            relatedTarget: _this,
                                            onConfirm: function(options) {
                                                var applytype=$('#applytype').val();
                                                $.ajax({
                                                    type:"post",
                                                    data:{
                                                        oid:oid,
                                                        applytype:applytype
                                                    },
                                                    url:"{:U('Jipiao/refund')}",
                                                    async:true,
                                                    success:function(e){
                                                        topAlert(e.info, e.status);
                                                        if(e.status==1){
                                                            setTimeout(function () {
                                                                location.href = e.url;
                                                            }, 2000);
                                                        }
                                                    }
                                                });
                                            },
                                            onCancel: function() {
                                            }
                                        });
                                    }
                                })
                            }
                        });
                        
                        function delorder() {
                            if (confirm("确认吗?")) {
                                document.delform.submit();
                            }

                        }
                        //全选的实现
                        $(".check-all").click(function () {
                            $(".ids").prop("checked", this.checked);
                        });
                        $(".ids").click(function () {
                            var option = $(".ids");
                            option.each(function (i) {
                                if (!this.checked) {
                                    $(".check-all").prop("checked", false);
                                    return false;
                                } else {
                                    $(".check-all").prop("checked", true);
                                }
                            });
                        });


                    </script>
                    </div>
            </div>
        </div>
    </div>

</block>
