<extend name="Base/common"/>
<block name="style">
	<style>
		body{background: url("__STATIC__/amaze/i/bg-004.jpg") bottom;background-size:cover;width:100%;height:100%;}
	</style>
</block>
<block name="body">
	<!--content begin-->
	<div class="am-g am-container am-margin-top-lg am-margin-bottom">
		<div class="breadcrumb-box">
			<ol class="am-breadcrumb am-breadcrumb-slash">
				<li><a href="{:U('Home/Index/index')}">首页</a></li>
				<li class="am-active">配套服务</li>
			</ol>
		</div>
		<div class="am-g am-container">
			<div class="service-box am-padding">
				<div class="am-tabs" data-am-tabs="{noSwipe: 1}">
					<ul class="am-tabs-nav am-nav am-nav-tabs">
						<li class="am-active"><a href="#tab1">餐饮</a></li>
						<li><a href="#tab2">会场</a></li>
						<li><a href="#tab3">住宿</a></li>
					</ul>

					<div class="am-tabs-bd">
						<div class="am-tab-panel am-fade am-in am-active" id="tab1">
							<div class="am-text-sm am-padding-xs">【疗养院太湖人家餐厅，可以同时容纳近240人就餐，能够根据客人要求提供各种具有江南水乡特色的美味佳肴，让您在山水美景之间，尽享健康美食。
								临湖而立的精品餐厅——倚湖轩，以精致的本帮菜系为主，内设湖景包厢4间、卡座16位。】</div>
							<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3  am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview:true }" >
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-01-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-01-big.jpg"  alt="神舟楼包房"/>
											<h3 class="am-gallery-title am-text-center">神舟楼包房</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-02-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-02-big.jpg"  alt="神舟楼包餐厅"/>
											<h3 class="am-gallery-title am-text-center">神舟楼餐厅</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-03-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-03-big.jpg"  alt="太湖人家"/>
											<h3 class="am-gallery-title am-text-center">太湖人家</h3>

										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-04-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-04-big.jpg"  alt="太湖人家大厅"/>
											<h3 class="am-gallery-title am-text-center">太湖人家大厅</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-05-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-05-big.jpg"  alt="倚湖轩"/>
											<h3 class="am-gallery-title am-text-center">倚湖轩</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-06-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-06-big.jpg"  alt="倚湖轩小景"/>
											<h3 class="am-gallery-title am-text-center">倚湖轩小景</h3>

										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-07-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-07-big.jpg"  alt="倚湖轩"/>
											<h3 class="am-gallery-title am-text-center">倚湖轩</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-08-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-08-big.jpg"  alt="立春里脊鱼腥草"/>
											<h3 class="am-gallery-title am-text-center">立春里脊鱼腥草</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-09-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-09-big.jpg"  alt="春分天麻鱼头煲"/>
											<h3 class="am-gallery-title am-text-center">春分天麻鱼头煲</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-10-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-10-big.jpg"  alt="枸杞芡实明媚粥"/>
											<h3 class="am-gallery-title am-text-center">枸杞芡实明媚粥</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-11-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-11-big.jpg"  alt="立春哈仁长生韭"/>
											<h3 class="am-gallery-title am-text-center">立春哈仁长生韭</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-12-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-12-big.jpg"  alt="春分黄芪乌鸡汤"/>
											<h3 class="am-gallery-title am-text-center">春分黄芪乌鸡汤</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-13-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-13-big.jpg"  alt="惊蛰益气白玉汤"/>
											<h3 class="am-gallery-title am-text-center">惊蛰益气白玉汤</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-14-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-14-big.jpg"  alt="立夏白茅根炖肉"/>
											<h3 class="am-gallery-title am-text-center">立夏白茅根炖肉</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/food-15-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/food-15-big.jpg"  alt="西洋参野生甲鱼"/>
											<h3 class="am-gallery-title am-text-center">西洋参野生甲鱼</h3>
										</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="am-tab-panel am-fade" id="tab2">
							<div class="am-text-sm am-padding-xs">【所有会议室均水波淋漓环湖外景交相辉映。会议室内均配备投影仪，并能根据客户需要定制服务。<br>云舒阁（8—10人）;
								滟澜厅（14—16人）;
								第一会议室（10—16人）;
								第三会议室（20—30人）;
								多功能厅（150人）;
								休闲中心设有标准的英式斯诺克，美式花色撞球，乒乓球，优雅的ktv包厢，各类棋牌。
								】</div>
							<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3  am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview:true }" >
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-01-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-01-big.jpg"  alt="第一会议室"/>
											<h3 class="am-gallery-title am-text-center">第一会议室（10—16人）</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-02-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-02-big.jpg"  alt="第三会议室"/>
											<h3 class="am-gallery-title am-text-center">第三会议室（20—30人）</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-03-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-03-big.jpg"  alt="多功能厅"/>
											<h3 class="am-gallery-title am-text-center">多功能厅（150人）</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-04-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-04-big.jpg"  alt="滟澜厅"/>
											<h3 class="am-gallery-title am-text-center">滟澜厅</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-05-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-05-big.jpg"  alt="云舒阁"/>
											<h3 class="am-gallery-title am-text-center">云舒阁</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-06-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-06-big.jpg"  alt="KTV"/>
											<h3 class="am-gallery-title am-text-center">KTV</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-07-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-07-big.jpg"  alt="乒乓球"/>
											<h3 class="am-gallery-title am-text-center">乒乓球</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-08-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-08-big.jpg"  alt="棋牌室"/>
											<h3 class="am-gallery-title am-text-center">棋牌室</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/meeting-09-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/meeting-09-big.jpg"  alt="台球"/>
											<h3 class="am-gallery-title am-text-center">台球</h3>
										</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="am-tab-panel am-fade" id="tab3">
							<div class="am-text-sm am-padding-xs"><strong class="am-text-lg">神舟协作楼：</strong><br>
								【所有客房矗立在太湖之畔，朴实无华、清新淡雅的建筑风格与美不胜收的湖光山色融为一体，具有江南现代风格的亭台楼阁古朴典雅，令人赏心悦目。】
							</div>
							<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3  am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview:true }" >
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-01-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-01-big.jpg"  alt="神舟楼大堂"/>
											<h3 class="am-gallery-title am-text-center">神舟楼大堂</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-02-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-02-big.jpg"  alt="神舟楼大堂吧"/>
											<h3 class="am-gallery-title am-text-center">神舟楼大堂吧</h3>
										</a>
									</div>
								</li>
							</ul>
							<div class="am-text-sm am-padding-xs">
								【神舟协作楼拥有各类客房24间：行政标房16间，行政大床房5间，特色套房3间，并配有独立的餐厅、会议室以及茶吧、酒吧等休闲娱乐设施。客房内配备高速宽带的网络接口和无线网，是一幢功能齐全、温馨舒适，让您在清晨湖光的映射中，感受自然气息，享受现代服务的小型会所。
								】</div>
							<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3  am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview:true }" >
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-03-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-03-big.jpg"  alt="vip套房会客厅"/>
											<h3 class="am-gallery-title am-text-center">vip套房会客厅</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-04-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-04-big.jpg"  alt="vip套房主卧"/>
											<h3 class="am-gallery-title am-text-center">vip套房主卧</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-05-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-05-big.jpg"  alt="神舟楼大床房"/>
											<h3 class="am-gallery-title am-text-center">神舟楼大床房</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-06-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-06-big.jpg"  alt="茶吧"/>
											<h3 class="am-gallery-title am-text-center">茶吧</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-07-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-07-big.jpg"  alt="酒吧"/>
											<h3 class="am-gallery-title am-text-center">酒吧</h3>
										</a>
									</div>
								</li>
							</ul>
							<div class="am-text-sm am-padding-xs">
								【一号楼现有客房70余间，其中家庭套房6套、单人房7间，可以满足不同客户的需求。】</div>
							<ul data-am-widget="gallery" class="am-gallery am-avg-sm-3  am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview:true }" >
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-08-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-08-big.jpg"  alt="一号楼大堂"/>
											<h3 class="am-gallery-title am-text-center">一号楼大堂</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-09-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-09-big.jpg"  alt="大床房"/>
											<h3 class="am-gallery-title am-text-center">大床房</h3>
										</a>
									</div>
								</li>
								<li>
									<div class="am-gallery-item">
										<a href="__STATIC__/amaze/i/service/room-10-big.jpg" class="">
											<img src="__STATIC__/amaze/i/service/room-10-big.jpg"  alt="标房"/>
											<h3 class="am-gallery-title am-text-center">标房</h3>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--content end-->
</block>
<block name="script">

</block>