<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>旅游线路</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sm.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sm-extend.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/lyy.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/css/reset_app.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css" />
		<style>
			.panel-overlay{background: rgba(0,0,0,.5);opacity: 0.5;}
			.panel.theme-dark{background: #fff;}
			.content-block{padding: 0;margin: 0;}
			.g_jdlists{border-bottom: none !important;}
			.g_shopslists .g_topsearch{width: 60%;}
			.g_shops_pp a{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
		</style>
	</head>
	<body>
		<script type='text/javascript' src='__PUBLIC__/Home/js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='__PUBLIC__/Home/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='__PUBLIC__/Home/js/sm-extend.min.js' charset='utf-8'></script>
		<div class="page">
			<!--top-->
			<header class="bar bar-nav g_fenlei g_shopslists">
				<input type="hidden" value="<notempty name='cityid'>{$cityid}</notempty>" id="city"/>
				<input type="hidden" value="<notempty name='sectionid'>{$sectionid}</notempty>" id="section"/>
				<input type="hidden" value="<notempty name='datetime'>{$datetime}</notempty>" id="datetime"/>
				<div class="FL g_topsearch">
					<input type="text" placeholder="请输入关键字" id="keyword" value="<notempty name='keywords'>{$keywords}</notempty>"/>
					<a href="#" class="external" id="searchbtn"><i class="iconfont">&#xe600;</i></a>
				</div>
				<a class="FR shopslistsbtn open-panel  button-fill" data-panel='#panel-right-demo' href="#">
					<span>筛选</span>
					<i class="iconfont">&#xe60a;</i>
				</a>
			</header>
			<div class="content">
				<!--旅游列表-->
				<volist name='linelist' id='list'>
					<a href="{:u('line/detail/xl_id/'.$list['xl_id'])}" class="external g_jdlists" href="javascript:;">
						<div class="g_lylistspic">
							<img src="{$list.xl_list_img}" width="100%"/>
							<div class="g_lybq">
								<p>{$list.xl_cttsws}/{$list.xl_ctrs}人起</p>
							</div>
							<p class="g_jdlistscontp1 g_lyname g_lypadding">{$list.xl_name}</p>
							<p class="g_jdlistscontp3 g_lyname"><span>{$list.xl_qijia}</span>{$list.xl_qijia_dw}</p>
						</div>
					</a>
				</volist>
			</div>
		</div>
		<div class="panel-overlay"></div>
		<!-- Left Panel with Reveal effect -->
		<div class="panel panel-right panel-cover theme-dark" id='panel-right-demo'>
			<div class="content-block">
				<div class="g_shops_pplists" style="border-bottom: 1px solid #e4e4e4;">
					<p class="g_shops_pplistsname">目的地</p>
					<div class="g_shops_pp">
						<a href="#" id="nocity" <if condition="I('city_id') eq ''">class="active"</if>>不限</a>
						<volist name='cache' id='vo1'>
							<volist name='vo1.city' id='vo2'>
								<a href="javascript:void(0);" class="arrive{$vo2.city_id} external mdd" data-city="{$vo2.city_id}" data-section='{$vo1.section_id}'>{$vo2.city_name}({$vo2.city_num})</a>
							</volist>
						</volist>
						<div class="clr"></div>
					</div>
				</div>
				<div class="g_shops_pplists">
					<p class="g_shops_pplistsname">日期</p>
					<div class="g_lydate">
						<a href="#" id="nodate" <if condition="I('cfyf') eq ''">class="active1"</if>>不限</a>
						<volist name='cfsj' id='cf'>
							<a href="#" data-date='{$cf.cfrq}' class="timebtn{$cf.cfrq} external datebtn">{$cf.cfrqstr}</a>
						</volist>
						<div class="clr"></div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(function(){
				$('.g_lydate a').addClass('external');
				$('.g_shops_pp a').addClass('external');
				$('.g_shops_pp a').click(function(){
					$('.g_shops_pp a').removeClass('active');
						$(this).addClass('active');
				});
				$('.g_lydate a').click(function(){
					$('.g_lydate a').removeClass('active1');
						$(this).addClass('active1');
				});
				$.init();
				var h = document.documentElement.clientHeight;
				$('a.g_allday').height(h * 0.15);
				$('.g_ads_bottom').height(h * 0.15);
				$('a.g_miaosha').height(h * 0.3);
				$('.g_shopslists_choice ul li a').on('click', function() {
					$('.g_shopslists_choice ul li a').removeClass('selected');
					$(this).addClass('selected');
				});
				
				$('.g_shops_ppbottom  a').on('click', function() {
					$('.g_shops_ppbottom  a').removeClass('selected1');
					$(this).addClass('selected1');
				});
				
				$('#searchbtn').on('click',function(){
					var keyword = $('#keyword').val();
					var urll = "{:u(Hotel/Index)}?1=1";
					if($('#city').val()){
						urll += "&city_id="+$('#city').val()+"&section_id="+$('#section').val();
					}
					if($('#keyword').val()){
						urll += "&keywords="+$('#keyword').val();
					}
					if($('#datetime').val()){
						urll += "&cfyf="+$('#datetime').val();
					};
					location.href = urll;
				});
				$('.datebtn').on('click',function(){
					var datetime = $(this).data('date');
					var urll = "{:u(Hotel/Index)}?cfyf="+datetime;
					if($('#city').val()){
						urll += "&city_id="+$('#city').val()+"&section_id="+$('#section').val();
					}
					if($('#keyword').val()){
						urll += "&keywords="+$('#keyword').val();
					};
					location.href = urll;
				});
				$('.mdd').on('click',function(){
					var cityid = $(this).data('city');
					var section = $(this).data('section');
					var urll = "{:u(Hotel/Index)}?city_id="+cityid+"&section_id="+section;
					if($('#keyword').val()){
						urll += "&keywords="+$('#keyword').val();
					}
					if($('#datetime').val()){
						urll += "&cfyf="+$('#datetime').val();
					};
					location.href = urll;
				});
				if($('#datetime').val()){
					$('.timebtn'+$('#datetime').val()).addClass('active1');
				}
				if($('#city').val()){
					$('.arrive'+$('#city').val()).addClass('active');
				}
				$('#nocity').on('click',function(){
					var urll = "{:u(Hotel/Index)}?1=1";
					if($('#keyword').val()){
						urll += "&keywords="+$('#keyword').val();
					}
					if($('#datetime').val()){
						urll += "&cfyf="+$('#datetime').val();
					};
					location.href = urll;
				});
				$('#nodate').on('click',function(){
					var urll = "{:u(Hotel/Index)}?1=1";
					if($('#city').val()){
						urll += "&city_id="+$('#city').val()+"&section_id="+$('#section').val();
					}
					if($('#keyword').val()){
						urll += "&keywords="+$('#keyword').val();
					};
					location.href = urll;
				});
			});
		</script>
	</body>
</html>
