<extend name="Public/base"/>


<block name="style">
	<link rel="stylesheet" href="__CSS__/admin_index.css">
</block>
<block name="nav">
	<div class="am-cf am-padding ">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员管理</strong> /
			<small>{$meta_title}</small>
		</div>
	</div>
</block>
<block name="body">
	<!-- 主体 -->
	<div class="am-g">
		<div class="am-u-sm-12">
			<eq name="need_verify" value="true">
				<div class="am-alert am-alert-danger" data-am-alert>
					您导入的数据有部分不是会员,这些人暂时无法从网络上查询体检报告,请核对之后再导入
				</div>
			</eq>

			<table class="am-table am-table-striped am-table-hover am-table-compact">
				<thead>
				<tr>
					<th>会员卡号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>身份证号</th>
					<th>单位名称</th>
					<th>预约套餐编码</th>
					<th>预约时间</th>
				</tr>
				</thead>
				<tbody>
				<volist name="result" id="row">
					<tr class='<empty name="row.card_num">am-warning</empty>'>
						<td>{$row['card_num']}</td>
						<td>{$row.realname}</td>
						<td>{$row.sex|get_sex}</td>
						<td>{$row.id_num}</td>
						<td>{$row.company}</td>
						<td>{$row.code}</td>
						<td>{$row.period}.{$row.time}</td>
					</tr>
				</volist>
				</tbody>
			</table>
			<div class="am-u-sm-12 am-center">
				<button type="button" id="confirm_btn" class="am-btn am-btn-default am-btn-block am-btn-primary">确认数据并导入
				</button>
				<button type="button" id="cancel_btn" class="am-btn am-btn-default am-btn-block">取消</button>
			</div>
		</div>
	</div>

</block>

<block name="script">
	<script type="text/javascript" src="__JS__/common.js"></script>
	<script type="text/javascript">
		$(function () {
			$("#cancel_btn").click(function () {
				history.back();
			});
			$("#confirm_btn").click(function () {
				$.get("{:U('SuiteOrder/import')}", function (data) {
					topAlert(data.info,data.status,false);
					if(data.status==1){
					    location.href='admin.php?s=/OrderInfo/index.html';
					}
				}, 'json');
			});
		});
	</script>
</block>