<include file="Public/head"/>
<body>
<!-- 头部 -->
<include file="Public/toolbar"/>
<!-- /头部 -->
<block name="body"></block>
<!-- 购物车js -->
<include file="Public/cart_js"/>
<!-- 购物车js -->
<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
<div class="hidden am-hide"><!-- 用于加载统计代码等隐藏元素 -->
	<script type="text/javascript">//var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257408010'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257408010' type='text/javascript'%3E%3C/script%3E"));</script>
	<block name="hidden">

	</block>
</div>
<block name="script"></block>
</body>
</html>
