<extend name="Base/mobile_base"/>

<block name="body">
	<div class="am-g">
		<div class="am-u-sm-12">
			<form class="am-form " method="post">
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">您的性别是</label>

					<div class=" ">
						<select name="sex">
							<option value="1">男</option>
							<option value="0">女</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label for="doc-ipt-year-1" class=" am-form-label am-text-left ">您的年龄是</label>

					<div class=" ">
						<input type="number" name="age" id="doc-ipt-year-1" placeholder="输入您的年龄">
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">您失眠、多梦或睡中容易惊醒，睡眠质量差吗？</label>

					<div class=" ">
						<select name="q1">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">您不时感到莫名的郁闷，情绪压抑吗？</label>

					<div class=" ">

						<select name="q2">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您有记忆力下降，容易忘事吗？</label>

					<div class=" ">

						<select name="q3">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您后背酸痛，颈肩痛吗？</label>

					<div class=" ">

						<select name="q4">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您每天坐姿时间≥6小时吗？</label>

					<div class=" ">
						<select name="q5">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您有高血压吗？</label>

					<div class=" ">
						<select name="q6">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您当前血压偏高（≥140/90mmHg）吗？</label>

					<div class=" ">
						<select name="q7">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您有高血压家族史？</label>

					<div class=" ">
						<select name="q8">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您饮食偏咸（喜食咸肉、咸鱼、咸菜等）吗？</label>

					<div class=" ">
						<select name="q9">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您有糖尿病吗？</label>

					<div class=" ">
						<select name="q10">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您当前血糖偏高（空腹血糖≥6.11mmol/L或餐后2小时≥7.8mmol/L）吗？</label>

					<div class=" ">
						<select name="q11">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您有糖尿病家族史吗？</label>

					<div class=" ">
						<select name="q12">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您饮食偏甜（包括甜品、碳酸饮料等）吗？</label>

					<div class=" ">
						<select name="q13">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您有吸烟吗？</label>

					<div class=" ">
						<select name="q14">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<div class="am-form-group check-form ">
					<label class=" am-form-label am-text-left ">
						您每周运动≥4小时吗？</label>

					<div class=" ">
						<select name="q15">
							<option value="1">有</option>
							<option value="0">无</option>
						</select>
					</div>
				</div>
				<button type="submit" class="am-btn am-btn-secondary am-btn-block am-radius  ">
					健康自测
				</button>
			</form>
		</div>
	</div>
</block>