<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>航天无锡关爱健康商城</title>
<link href="/Public/static/amaze/css/ad.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="action">
<div><img src="/Public/static/amaze/i/images/banner.png" ondragstart="return false;" oncontextmenu="return false;"></div>
<div><img src="/Public/static/amaze/i/images/title.png"  ondragstart="return false;" oncontextmenu="return false;"></div>
<div><img src="/Public/static/amaze/i/images/huodongshuoming.png"  ondragstart="return false;" oncontextmenu="return false;"></div>
<div><img src="/Public/static/amaze/i/images/jiankangbaoxianshuoming.png"  ondragstart="return false;" oncontextmenu="return false;"></div>
<div><img src="/Public/static/amaze/i/images/chanpintitle.png"  ondragstart="return false;" oncontextmenu="return false;"></div>
<div class="box1">
<img src="/Public/static/amaze/i/images/chanpin_img1.png"  ondragstart="return false;" oncontextmenu="return false;">
<a href="{:U("Mall/transfer")}" class="btn_box btn_box1"></a>
</div>
<div class="box1"><img src="/Public/static/amaze/i/images/chanpin_img2.png"  ondragstart="return false;" oncontextmenu="return false;">
<a href="{:U("Mall/transfer")}" class="btn_box btn_box2"></a>
</div>
<div><img src="/Public/static/amaze/i/images/guodu.png"  ondragstart="return false;" oncontextmenu="return false;"></div>
<div class="box1"><img src="/Public/static/amaze/i/images/chanpin_img3.png"  ondragstart="return false;" oncontextmenu="return false;">
<a href="{:U("Mall/transfer")}" class="btn_box btn_box3"></a>
</div>
<div style="position:relative"> 
<img src="/Public/static/amaze/i/images/bottom.png"  ondragstart="return false;" oncontextmenu="return false;">
<a href="#" class="bottom_text"><img src="/Public/static/amaze/i/images/bottom_text.png" ondragstart="return false;" oncontextmenu="return false;"></a>
</div>
</div>
</body>
</html>
