<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>中转页</title>
		<link href="/Public/static/transit/css/style.css" rel="stylesheet" />
	</head>
	<body>

		<div class="content">
			<div class="con_body">
				<h2 class="h2_color">航天用户在进入关爱健康商城前，请阅读说明，谢谢！</h2>
				<div class="con_txt">
					<p>亲爱的航天会员，您好！</p>
				    <p class="t_indent">欢迎您来到航天关爱健康商城，我们为您提供了丰富的商品可供兑换。</p>
				    <p class="t_indent">关爱健康商城跟平台商城有所不同，在这里，需要使用<span class="fontweight">关爱积分</span>进行消费结算。若您在结算时系统提示<span class="red fontweight">“积分余额不足”</span>或者<span class="red fontweight">“余额不足”</span>，请返回至航天健康平台（<a href="http://www.wx738.com">www.wx738.com</a>）或者登录我们的微信公众号，在大平台的“个人中心”内使用“账户余额”兑换相应额度的关爱积分。兑换比例为1：1。目前系统仅支持航天账户余额兑换关爱积分，不支持逆向转换，为了避免浪费，建议您不要过早兑换以及过量兑换。<a href='{:U("Mall/about")}' class="a_color" target="_blank">
花5分钟详细了解如何使用关爱健康商城 &gt;</a></p>
				    <div class="mt50 t_center"><a href="http://www.wx738.com/index.php?s=/Home/Change/change.html"  target="_blank"  class="u-btn u-btn-default mr10">兑换关爱积分</a><a href='{:U("Mall/transfer")}' target="_blank" class="u-btn u-btn-default">进入关爱健康商城</a></div>
				</div>
			</div>
		</div>
		<div class="footer-outer">
			<div class="footer">
				<img src="/Public/static/transit/img/footer.png" class="h_img"/>
				<a href="http://www.wx738.com" class="back_h"><span class="font18">&lt; 返回</span><br />航天无锡疗养院</a>
			</div>
		</div>
	</body>
</html>