<extend name="Base/common"/>
<block name="style">
	<!--<link rel="stylesheet" href="__CSS__/amazeui.min.css">-->
	<link rel="stylesheet" href="__CSS__/jquery.dataTables.min.css">
	<link rel="stylesheet" href="__CSS__/style.css">
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../css/style1-IE.css" />
		<script type="text/javascript" src="../js/jquery-1.11.0.js" ></script>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<script type="text/javascript" src="../js/amazeui.ie8polyfill.min.js" ></script>
	<![endif]-->
</block>
<block name="body">
	<style>
			.am-u-sm-2{
				float: left;
				width: 20%;
				height: 50px;
				display: block;
				margin: 0;
				margin-top: 10px;
			}
			.am-u-sm-10{
				float: left;
				width: 70%;
				height: 50px;
				display: block;
				margin: 0;
				margin-top: 10px;
			}
		</style>
		<!--header-->
		<!--section-->
		<div class="my_main" style="margin-top:60px">
			<input type="hidden" value="0" id="isorder" />
			<div class="am-g am-g-fixed am-g-collapse">
				<form id="orderform">
				<!--填写并核对订单信息-->
				<div class="am-u-lg-12 ad_box_group">
            		<h1>出行人信息</h1>
					<div class="place">
					<empty name="address">
						<div id="senderdetail"></div>
						<div id="formsender" style="position:relative;">
							<form id="formincart" name="form" class="am-form am-form-inline">
								<!--<div class="">
									<div class="am-u-sm-2" style="line-height: 36px"><label>所在地区:</label></div>
									<div class="am-u-sm-10">
										<div class=" infolist ">
											<div class="liststyle">
				                                <span id="Province">
				                                    <i>请选择省份</i>
				                                    <ul>
					                                    <li><a href="javascript:void(0)" alt="请选择省份">请选择省份</a></li>
				                                    </ul>
				                                    <input id="idprovince" type="hidden" name="cho_Province" value="请选择省份">
				                                </span>
				                                <span id="City">
				                                    <i>请选择城市</i>
				                                    <ul>
					                                    <li><a href="javascript:void(0)" alt="请选择城市">请选择城市</a></li>
				                                    </ul>
				                                    <input type="hidden" id="idcity" name="cho_City" value="请选择城市">
				                                </span>
				                                <span id="Area">
				                                    <i>请选择地区</i>
				                                    <ul>
					                                    <li><a href="javascript:void(0)" alt="请选择地区">请选择地区</a></li>
				                                    </ul>
				                                    <input type="hidden" id="idarea" name="cho_Area" value="请选择地区">
				                                </span>
											</div>
										</div>
									</div>
								</div>-->
								<!--<div class="am-u-sm-2 am-margin-top-sm">
									<label>详细地址：</label>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<input type="text" class="cart_long" id="address" maxlength="40" data-input="text" value="" name="area" placeholder="详细地址不能为空">
								</div>-->
								<div class="am-u-sm-2 am-margin-top-sm">
									<label>联系人：</label>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<input type="text" class="cart_long"  style="width: 200px;display: block;padding: .5em;font-size: 1.6rem;line-height: 1.2;color: #555;vertical-align: middle;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 0;-webkit-appearance: none;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" id="realname" maxlength="20" data-input="text" value=""><font class="ml10 cleb6100" style="display: none;">联系人不能为空</font>
								</div>
								<div class="am-u-sm-2 am-margin-top-sm">
									<label>手机号：</label>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<input type="text" class="cart_long" style="width: 200px;display: block;padding: .5em;font-size: 1.6rem;line-height: 1.2;color: #555;vertical-align: middle;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 0;-webkit-appearance: none;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" id="phone" maxlength="11" data-msg="联系人手机号码格式不正确" data-input="text" data-type="cellphone" value="">&nbsp;
								</div>
								<div class="am-u-sm-2 am-margin-top-sm">
									<span class="am-margin-left"><input id="isdefault" checked="checked" name="default" type="checkbox" class="cart_n_box"> 设为默认</span>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<a href="javascript:void(0)" class="ncart_btn_on am-btn am-btn-primary" onclick="savemsg();">保存</a>
								</div>
								<div class="am-cf"></div>
							</form>
						</div>
						<else/>
						<div id="hasaddress">
							<div id="senderdetail">
								<p id="f_default">
									<volist name="address" id="a" >
										<input type="radio" <eq name="a.id" value="$default_id" >id="default" checked='checked'</eq> name="sender" checked="checked" value="{$a.id}"/>&nbsp;联系人：{$a.realname}&nbsp;&nbsp;联系电话:{$a.cellphone}<br/>
									</volist>
								</p>
							</div>
							<a href="javascript:void(0);" id="addaddress">新增联系人</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="javascript:void(0);" id="setaddress">修改</a>
						</div>
						<div id="formsender" style="position:relative;display: none;">
							<form id="formincart" name="form" class="am-form am-form-inline">
								<div class="am-u-sm-2 am-margin-top-sm">
									<label>联系人：</label>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<input type="text" class="cart_long"  style="width: 200px;display: block;padding: .5em;font-size: 1.6rem;line-height: 1.2;color: #555;vertical-align: middle;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 0;-webkit-appearance: none;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" id="realname" maxlength="20" data-input="text" value=""><font class="ml10 cleb6100" style="display: none;">联系人不能为空</font>
								</div>
								<div class="am-u-sm-2 am-margin-top-sm">
									<label>手机号：</label>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<input type="text" class="cart_long" style="width: 200px;display: block;padding: .5em;font-size: 1.6rem;line-height: 1.2;color: #555;vertical-align: middle;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 0;-webkit-appearance: none;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;" id="phone" maxlength="11" data-msg="联系人手机号码格式不正确" data-input="text" data-type="cellphone" value="">&nbsp;
								</div>
								<div class="am-u-sm-2 am-margin-top-sm">
									<span class="am-margin-left"><input id="isdefault" checked="checked" name="default" type="checkbox" class="cart_n_box"> 设为默认</span>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<a href="javascript:void(0)" class="ncart_btn_on am-btn am-btn-primary" onclick="savemsg1();">保存</a>
									<a href="javascript:void(0)" class="ncart_btn_on am-btn am-btn-primary" onclick="quxiao1();">取消</a>
								</div>
								<div class="am-cf"></div>
							</form>
						</div>
						<div id="formsender1" style="position:relative;display: none;">
							<form id="formincart1" name="form" class="am-form am-form-inline">
								<input type="hidden" value="" id='addid'>
								<div class="am-u-sm-2 am-margin-top-sm">
									<label>联系人：</label>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<input type="text" class="cart_long"  style="width: 200px;" id="realname1" maxlength="20" data-input="text" value=""><font class="ml10 cleb6100" style="display: none;">联系人不能为空</font>
								</div>
								<div class="am-u-sm-2 am-margin-top-sm">
									<label>手机号：</label>
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<input type="text" class="cart_long" style="width: 200px;" id="phone1" maxlength="11" data-msg="联系人手机号码格式不正确" data-input="text" data-type="cellphone" value="">&nbsp;
								</div>
								<div class="am-u-sm-2 am-margin-top-sm">
									<!--<span class="am-margin-left"><input id="isdefault1" checked="checked" name="default" type="checkbox" class="cart_n_box"> 设为默认地址</span>-->
								</div>
								<div class="am-u-sm-10 am-margin-bottom-xs">
									<a href="javascript:void(0)" class="ncart_btn_on am-btn am-btn-primary" onclick="save();">保存</a>
									<a href="javascript:void(0)" class="ncart_btn_on am-btn am-btn-primary" onclick="quxiao();">取消</a>
								</div>
								<div class="am-cf"></div>
							</form>
						</div>
					</empty>

				</div>
				</div>
				<!--乘机人-->
        <!-- <div class="am-u-lg-12 ad_box_group">
            <h1>出行人信息</h1>
            <div class="cjr_gp" id="ck_list"> -->

                <!--乘客start-->
                <!-- <div class="ck_list clear"> -->
                    <!--<span class="del_ck">删除该乘客</span>-->
                    <!-- <div class="am-u-lg-12">
                        <label class="am-u-lg-4">出行人姓名：</label>
                        <div class="am-u-lg-8"><input class="ipt_text" type="text" id="cxrname" placeholder="请输入姓名" /></div>
                    </div>
                    <div class="am-u-lg-12">
                        <label class="am-u-lg-4">出行人手机号：</label>
                        <div class="am-u-lg-8"><input class="ipt_text" type="text" id="cxrphone" placeholder="请输入手机号" /></div>
                    </div>
                </div> -->
                <!--乘客end-->

            <!-- </div> -->
           <!-- <div class="am-u-lg-12 am-text-center">
                <button class="am-btn am-btn-warning add_ck_btn">添加乘客</button>
            </div>-->
        <!-- </div> -->
        <!--<div class="am-u-lg-12 zf_box_group">
					<h1>人数信息</h1>
					
					<div class="pdall_20">
						<div class="am-u-lg-12">
							<span class="am-u-lg-6 am-padding-left-sm">成人人数</span>
							<span class="am-u-lg-6 am-padding-left-sm">儿童人数</span>
						</div>
						<div class="am-u-lg-12">
							<div class="am-u-lg-6 am-padding-left-sm">
								<div class="number-group clear">
									<input class="jiannum" type="button" value="-">
									<input class="numval" type="text" value="{:I('adult')}" id="adultnum">
									<input class="jianum" type="button" value="+">
								</div>
							</div>
							<div class="am-u-lg-6 am-padding-left-sm">
								<div class="number-group clear">
									<input class="jiannum" type="button" value="-">
									<input class="numval" type="text" value="{:I('child')}" id="childnum">
									<input class="jianum" type="button" value="+">
								</div>
								
							</div>

						</div>
						<div style="clear: both;"></div>
					</div>
				</div>-->
				<!--支付方式-->
				<div class="am-u-lg-12 zf_box_group">
					<h1>支付</h1>
					<h2 class="title18 pd_all_15">支付方式：</h2>
					<div class="zhfs">
						<input type="radio" checked="checked"><label>在线支付</label>
					</div>
				</div>
				<!--支付方式-->
				<div class="am-u-lg-12 zf_box_group">
					<h1>订单个性需求</h1>
					<div class="zhfs">
						<textarea style="width: 95%;margin: 2%;" rows="4" id="message"></textarea>
					</div>
				</div>
				<!--线路信息-->
				<div class="am-u-lg-12 zf_box_group">
					<h1>线路信息</h1>
					
					<div class="pdall_20">
						<div id="table-xl_wrapper" class="dataTables_wrapper no-footer"><table id="table-xl" class="row-border table-myorder dataTable no-footer" role="grid">
							<thead>
								<tr role="row"><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 495px;">线路名称</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 110px;">出发地</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 144px;">出发日期</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 145px;">出游人数</th></tr>
							</thead>
							<tbody>
								
								
							<tr role="row" class="odd">
									<td>{$line.xl_name}</td>
									<td>{$line.xl_cf_city}</td>
									<td>{$cfdate}</td>
									<td>{$adult}成人<notempty name='child'>{$child}<else/>0</notempty>儿童</td>
								</tr></tbody>
						</table></div>
					</div>
				</div>
				<!--选择优惠券-->
				<!--<div class="am-u-lg-12 zf_box_group">
					<h1>选择可用优惠券</h1>
					
					<div class="pdall_20">
						<select>
							<option>不可用</option>
						</select>
					</div>
				</div>-->
				<!--付款信息-->
				<div class="am-u-lg-12 am-text-right">
					<!--<p>产品金额：<span class="blod">{$money}</span>元</p>-->
					<!--<p>运费：<span class="blod">0</span>元</p>-->
					<p>应付总额：<span class="sumpr blod am-text-warning s_price">{$money}</span>元</p>
					<button class="am-btn am-btn-lg am-btn-primary" id="ordersubmit">确认订单</button>
				</div>
				
			</div>
		</div>
		
		<script type="text/javascript" src="__JS__/jquery-2.1.0.js"></script>
		<script type="text/javascript" src="__JS__/jquery.dataTables.min.js"></script>
		<script>
			$('#table-xl').DataTable({
				"paging": false,
				"lengthChange": false,
				"searching": false,
				"ordering": true,
				"info": false,
				"autoWidth": true,
				"ordering": false,
				"language": {
					"sLengthMenu": "每页显示 _MENU_ 条记录",
					"sZeroRecords": "抱歉， 没有找到",
					"sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
					"sInfoEmpty": "没有数据",
					"sZeroRecords": "没有检索到数据",
					"oPaginate": {
						"sFirst": "首页",
						"sPrevious": "前一页",
						"sNext": "后一页",
						"sLast": "尾页"
					}
				}
			});
		</script>
		<script>
		//取消
			function quxiao() {
				$('#hasaddress').show();
				$('#formsender1').hide();
				$('#realname1').val('');
				$('#phone1').val('');
			}
			//取消2
			function quxiao1() {
				$('#hasaddress').show();
				$('#formsender').hide();
			}
			//保存
			function save() {							
			var id=$("#addid").val();
			var realname = $.trim($("#realname1").val());
			var cellphone = $.trim($("#phone1").val());
			if(!realname){
				alert('出行人不能为空！')
				return false;
			}
			if(!cellphone){
				alert('手机号不能为空！')
				return false;
			}

			if(cellphone.length != 11){
				alert("请输入正确的手机号。");
				return false;
			}

//			alert(id);
			$.ajax({
				type: 'post', //传送的方式,get/post
				url:"{:U('Home/Hotel/addsave')}",
				data: {
					id:id,
					realname: realname,				
					cellphone: cellphone
				},
				dataType: "json",
				success: function (e) {
					if(e.status==1){
						alert(e.msg);
						location.reload();
					}else{
						alert(e.msg);
					}
				},
				error: function (event, XMLHttpRequest, ajaxOptions, thrownError) {
					alert("表单错误，" + XMLHttpRequest + thrownError);
				}
			})
				
				
			}
			//新增
			$('#addaddress').on('click',function(){
				$('#hasaddress').hide();
				$('#formsender').show();
				$('#realname').val('');
				$('#phone').val('');
			});
			
			//修改
			$('#setaddress').on('click',function(){
				var val = $('input:radio[name="sender"]:checked').val();
				//判断新地址是否选中,获取地址id
				if (val == null) {
					alert("请选择一个联系人!");
					return false;
				}
				$('#hasaddress').hide();
				$('#formsender1').show();
//				alert(val);
				$.ajax({
					type:"post",
					url:"{:U('Home/Hotel/addset')}",
					async:true,
					data:{
						'addid':val
					},
					success:function(e){
						if(e.status==1){
							var add=e.add;
							$('#realname1').val(add.realname);
							$('#phone1').val(add.cellphone);
							$('#addid').val(add.id);
						}else{
							alert(e.msg);
						}
					}
				});
								
			});
		
			function savemsg() {
	//判断是否是默认地址
				if (document.getElementById("isdefault").checked == true) {
					var info = "yes";
				}
				else {
					var info = "no";
				}
				var pca = $("#idprovince").val() + $("#idcity").val() + $("#idarea").val();
				var address = $("#address").val();
				var orderid = $("#orderid").val();
				var username = $("#realname").val();
				var phone = $("#phone").val();
				var b = $("#youbian").val();
	
				$.ajax({
					type: 'post', //传送的方式,get/post
					url: '{:U("Address/build")}', //发送数据的地址
					data: {
						province: $("#idprovince").val(),
						city: $("#idcity").val(),
						area: $("#idarea").val(),
						posi: address,
						pho: phone,
						rel: username,
						id: orderid,
						msg: info
					},
					dataType: "json",
					success: function (data) {
						location.reload();
					},
					error: function (event, XMLHttpRequest, ajaxOptions, thrownError) {
						alert("表单错误，" + XMLHttpRequest + thrownError);
					}
				})
			}
				
				function savemsg1() {
	//判断是否是默认地址
				if (document.getElementById("isdefault").checked == true) {
					var info = "yes";
				}
				else {
					var info = "no";
				}
				var pca = $("#idprovince").val() + $("#idcity").val() + $("#idarea").val();
				var address = $("#address").val();
				var orderid = $("#orderid").val();
				var username = $.trim($("#realname").val());
				var phone = $.trim($("#phone").val());
				var b = $("#youbian").val();

				if(username == ""){
					alert("请输入姓名。");
					return false;
				}

				if(phone == ""){
					alert("请输入手机号。");
					return false;
				}

				if(phone.length != 11){
					alert("请输入正确的手机号。");
					return false;
				}
	
				$.ajax({
					type: 'post', //传送的方式,get/post
					url: '{:U("Address/build1")}', //发送数据的地址
					data: {
						province: $("#idprovince").val(),
						city: $("#idcity").val(),
						area: $("#idarea").val(),
						posi: address,
						pho: phone,
						rel: username,
						id: orderid,
						msg: info
					},
					dataType: "json",
					success: function (data) {
						location.reload();
					},
					error: function (event, XMLHttpRequest, ajaxOptions, thrownError) {
						alert("表单错误，" + XMLHttpRequest + thrownError);
					}
				})
			}
			$('#ordersubmit').on('click',function(){
				var val = $('input:radio[name="sender"]:checked').val();
				//判断新地址是否选中,获取地址id
				if (val == null) {
					alert("请选择一个地址!");
					return false;
				}
				// if(!$('#cxrname').val()){
				// 	alert('未填写出行人姓名');
				// 	return false;
				// }
				// if(!$('#cxrphone').val()){
				// 	alert('未填写出行人电话');
				// 	return false;
				// }

				// if($('#cxrphone').val().length != 11){
				// 	alert("请填写正确的手机号。");
				// 	return false;
				// }

				var cfdate = "{:I('cfdate')}";
				var message = encodeURI($('#message').val());
				var price = $('.s_price').text();
				var urlo = "./index.php?s=/Home/Line/orderdetail/num/{:I('num')}/qprice/{:I('price')}/addressid/"+val+"/priceid/{:I('priceid')}/rzsj/"+cfdate+"/xl_id/{:I('xlid')}/crj_num/{:I('adult')}/rtj_num/{:I('child')}//price/"+price+".html&message=" + message;
				location.href = urlo;
//				var data={
//					num:"{:I('num')}",
//					addressid:$('#default').val(),
//					cxrname:$('#cxrname').val(),
//					cxrphone:$('#cxrphone').val(),
//					message:$('#message').val(),
//					rzsj:"{:I('cfdate')}",
//					xl_id:"{:I('xlid')}",
//					crj_num:"{:I('adult')}",
//					rtj_num:"{:I('child')}"
//				};
//				$.ajax({
//					type:"post",
//					url:"{:u('Home/Line/ordermake')}",
//					async:true,
//					data:data,
//					success:function(e){
//						if(e.status==1){
//							var url='{:u("Home/Pay/index")}'+"/orderid/"+e.orderid;
//							window.location.href='{:u("Home/Pay/index")}'+"&orderid="+e.orderid;
//						}else{
//							alert(e.msg);
//						}
//					}
//				});
			});
			//数字框组加减
			$(".jiannum").on("click", function() {
				var nmval = $(this).siblings(".numval").val();
				if (nmval == 0) {
				} else {
					$(this).siblings(".numval").val(--nmval);
				}
			});
			$(".jianum").on("click",function() {
				var nmval =  $(this).siblings(".numval").val();
				$(this).siblings(".numval").val(++nmval);
			});
		</script>
	

</block>